node_modules/
Temp/


# Para poder aprender bien las bases de typeScript.
# se proponer desabilitar las reglas de ESLINT.
# en modulos mas avanzadas se implementaran.
01_TypeScriptTypes/
04_CombiningTypes/
Project/
